{% extends 'base.html' %}
{% block title %}
Absolute Pressure Search
{% endblock %}

{% block content %}
<!-- Absolute Pressure -->
<div class="container">
    <div class="row">
        <div class="col-8 my-5">
            <div class="card card-body bg-light">
                <form method="POST" action="{{ url_for('abs_search') }}">
                    <h4>Enter the unknown as 0</h4>
                    <table class="table table-hover table-dark">
                        <tr>
                            <td>Guage Pressure(Pg)</td>
                            <td><input name='guage_press' type='NUMBER' step="any" placeholder='{{ guage }}' class="form-control">  p</td>
                        </tr>
                        <tr>
                            <td>Atmospheric Pressure(Pat)</td>
                            <td><input name='atm_press' type='NUMBER' step="any" placeholder='{{ atm }}' class="form-control">  p</td>
                        </tr>
                        <tr>
                            <td>Absolute Pressure(Pa)</td>
                            <td><input name='abs_press' type='NUMBER' step="any" placeholder='{{ abs }}' class="form-control">  p</td>
                        </tr>
                    </table>
                    <p><input value="Calculate" class="btn btn-dark text-white" type="submit"></p>
                </form>
                <p><span class="bg-dark text-white p-2">Answer:</span><input readonly value="{{ the_result2 }}" type="text" placeholder=""></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}